@import "../mainStyle/appMain.scss";
@import "../mainStyle/mainPage.scss";
@import "../mainStyle/businesNews.scss";
@import "../mainStyle/frilanser.scss";

@function get-vw-1920($font) {
	$vw-context: 1920 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-1440($font) {
	$vw-context: 1440 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-1320($font) {
	$vw-context: 1320 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-1200($font) {
	$vw-context: 1200 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-1023($font) {
	$vw-context: 1023 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-768($font) {
	$vw-context: 768 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-600($font) {
	$vw-context: 600 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-480($font) {
	$vw-context: 480 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-414($font) {
	$vw-context: 414 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-375($font) {
	$vw-context: 375 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-360($font) {
	$vw-context: 360 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
@function get-vw-320($font) {
	$vw-context: 320 * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}

@mixin styling($width, $function) {
	@media screen and (max-width: $width) {
		@include app($function);
	}
	@media screen and (max-width: $width) {
		@include mainpage($function);
	}
	@media screen and (max-width: $width) {
		@include businesNews($function);
	}
	@media screen and (max-width: $width) {
		@include frilans($function);
	}
}

@include styling(9999px, "get-vw-1920");
@include styling(1920px, "get-vw-1920");
@include styling(1440px, "get-vw-1440");
@include styling(1023px, "get-vw-1023");
@include styling(768px, "get-vw-768");
@include styling(480px, "get-vw-480");
@include styling(414px, "get-vw-414");
@include styling(375px, "get-vw-375");
@include styling(360px, "get-vw-360");
@include styling(320px, "get-vw-320");
