@mixin app($function) {
	#header{
	 width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
    margin-top: 18px;
	 border-bottom: 1px solid rgb(230 227 233 / 20%);
	}

	.container {
		max-width: call(get-function($function), 1150px);
		margin: 0 auto;
	}
	.wrapper-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	.logo {
		width:  call(get-function($function),163.72px);
		height:  call(get-function($function),49px);
	}

	.logo img{
		width: 100%;
	}
	.nav-menu {
		width: call(get-function($function), 573px);
		height: call(get-function($function), 20px);
		display: flex;
   	flex-direction: column;
   	justify-content: center;
	}
	.nav-item {

	}

	.nav-item ul {
		display: flex;
		justify-content: space-between;
	}

	.nav-item ul li{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16.0017px);
		line-height: call(get-function($function), 20px);
		letter-spacing: 0.16px;
		color: #FFFFFF;
		cursor: pointer;
	}
	.search {
		cursor: pointer;
	}
	.join-group {
		width: call(get-function($function), 148.03px);
		height: call(get-function($function), 51.89px);
		border: 1px solid #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: call(get-function($function), 5px);
	}
	.join-group button{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		text-align: center;
		letter-spacing: 0.16px;
		color: #FEFEFE;
		width: 100%;
    	height: 100%;
		border-radius: call(get-function($function), 5px);
		background: rgba(0, 0, 0, 0.0001)
	}

	.footer-wrapper {
		margin-top: call(get-function($function), 95px);
	}
	.block-footer {
		display: flex;
		justify-content: space-between;
	}
	.column-footer-first {
		width: call(get-function($function), 259px);
	}
	
	.logo {
		margin-bottom: call(get-function($function), 28px);
	}
	.description-footer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 23px);
		display: flex;
		align-items: center;
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 44px);
	}

	.column-footer {
	}
	.name-column-footer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 22px);
		color: #39374D;
		margin-bottom: call(get-function($function), 25px);
	}
	.submane-ul {
		
	}

	.submane-ul li{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 40px);
		letter-spacing: 0.16px;
		color: #39374D;
	}
	
	.adress-footer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 23px);
		display: flex;
		align-items: center;
		color: #5E5D6C;
		width: call(get-function($function), 181px);
		padding-left: 25px;
		position: relative;

	}
	.adress-footer::before {
		content: "";
		position: absolute;
		width: 12px;
		height: 17px;
		left: 0;
		bottom: 20px;
		background-image: url(/image/icon/point.png);
	}

	.tel-footer {
		display: flex;
		flex-direction: column;
		margin-top: call(get-function($function), 10px);
		padding-left: 25px;
		position: relative;
	}

	.tel-footer::before {
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		left: 0;
		bottom: 30px;
		background-image: url(/image/icon/phone.png);
	}

	.tel-footer span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 26px);
		color: #0575E6;
		width: call(get-function($function), 181px);
	}
	.mail-footer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 36px);
		color: #5E5D6C;
		width: call(get-function($function), 181px);
		position: relative;
		padding-left: 25px;
	}

	.mail-footer::before {
		content: '';
		position: absolute;
		width: 12px;
		height: 8.25px;
		left: 0;
    	bottom: 12px;
		background-image: url(/image/icon/mail.png);
	}
	
	.underline {
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, 17%);
		margin-top: call(get-function($function), 62px);
		margin-bottom: call(get-function($function), 20px);
	}

	.permisson {
		display: flex;
		justify-content: space-between;
		padding-bottom: call(get-function($function), 20px);
	}

	.permisson p {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #5E5D6C;
	}
	
	
	
	
}