@mixin businesNews($function) {
	.busines-news-block {
		background-image: url(/image/busines-logo.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 390px);
	}

	.startup-news-block{
		background-image: url(/image/startUp-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 390px);
	}

	.bisines-page-news-block{
		background-image: url(/image/busines-page-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 390px);
	}

	.commerch-page-news-block {
		background-image: url(/image/commerch-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 390px);
	}

	.frilanser-page-news-block {
		background-image: url(/image/frlns-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 390px);
	}
	
	
	.wrapper-busines-news-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: call(get-function($function), 390px);
	}
	.title-busines-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		line-height: call(get-function($function), 90px);
		color: #ffffff;
	}
	.main-point {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 36px);
		letter-spacing: 0.160137px;
		color: #ffffff;
	}
	.span-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: call(get-function($function), 0px) call(get-function($function), 30px) call(get-function($function), 0px)
			call(get-function($function), 30px);
	}

	.block-tag {
		display: flex;
		justify-content: space-between;
	}

	.item-news-block {
	}
	.wrapper-item-news-block {
		display: flex;
		justify-content: space-between;
		margin-top: call(get-function($function), 66px);
	}
	.column-left-pos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.column-item-news {
		width: call(get-function($function), 370px);
		// height: call(get-function($function), 528.57px);
		background: #ffffff;
		box-shadow: 0px 5px 90px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		position: relative;
		margin-bottom: call(get-function($function), 30px);
	}

	// .column-item-news:nth-child(odd) {
	// 	margin-right: ;
	// }
	.item-news-pict {
	}

	.item-news-pict img {
		width: 100%;
	}

	.title-item-busines {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 25px);
		letter-spacing: 0.3px;
		color: #39374d;
		margin-top: call(get-function($function), 20px);
		margin-bottom: call(get-function($function), 10px);
		padding: call(get-function($function), 0px) call(get-function($function), 27px) call(get-function($function), 0px)
			call(get-function($function), 27px);
	}
	.desc-item-busines {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		color: #5e5d6c;
		margin-bottom: call(get-function($function), 18px);
		padding: call(get-function($function), 0px) call(get-function($function), 27px) call(get-function($function), 0px)
			call(get-function($function), 27px);
	}
	.read-more {
		display: flex;
		padding: call(get-function($function), 0px) call(get-function($function), 27px) call(get-function($function), 0px)
			call(get-function($function), 27px);
		padding-bottom: call(get-function($function), 24px);
	}
	.read-block {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 25px);
		margin-right: call(get-function($function), 20px);
		color: #0575e6;
	}
	.read-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.column-right-pos {
		width: call(get-function($function), 390.04px);
		margin-left: call(get-function($function), 30px);
		padding: 0px 20px 0px 20px;
		border: 1px solid #f2f2f2;
	}

	.title-search-column {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 20px);
		line-height: call(get-function($function), 38px);
		letter-spacing: 0.16px;
		color: #39354d;
		margin-top: call(get-function($function), 22px);
		margin-bottom: call(get-function($function), 20px);
	}
	.form-column-busines {
		position: relative;
	}

	.form-column-busines input {
		width: call(get-function($function), 300.32px);
		height: call(get-function($function), 46.12px);
		border: 1px solid #f3f3f3;
		box-sizing: border-box;
		border-radius: 100px;
		padding-left: call(get-function($function), 18px);

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 25px;
		color: #bcbcbc;
	}

	.form-column-busines span {
		position: absolute;
		width: call(get-function($function), 38.61px);
		height: call(get-function($function), 38.61px);
		background: #0676e6;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		top: 4px;
		right: 3px;
	}

	.underline-column-busines {
		width: 100%;
		height: 1px;
		background: #f2f2f2;
		margin-top: call(get-function($function), 30px);
		margin-bottom: call(get-function($function), 18px);
	}

	.title-search-item-column {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 20px);
		line-height: call(get-function($function), 38px);
		letter-spacing: 0.16px;
		color: #39354d;
		margin-bottom: call(get-function($function), 23px);
	}

	.type-category-column {
	}

	.category-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.name-category {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 42px);
		letter-spacing: 0.16px;
		color: #898a8c;
	}
	.num-category {
		width: call(get-function($function), 21.45px);
		height: call(get-function($function), 21.45px);
		background: #f6f3fc;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 42px;
		letter-spacing: 0.16px;
		color: #39354d;
	}

	.active-category {
		color: #03d661;
	}

	.active-category-num {
		background: #00d562;
		color: #ffffff;
	}

	.type-news-column {
	}
	.item-type-news-column-search {
		display: flex;
		margin-bottom: call(get-function($function), 17px);
	}
	.pict-item-type-search {
		margin-right: call(get-function($function), 15px);
		width: call(get-function($function), 69.72px);
		height: call(get-function($function), 69.72px);
	}

	.pict-item-type-search img {
		width: 100%;
	}

	.text-box-search {
	}
	.title-text-box {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 24px);
		letter-spacing: 0.3px;
		color: #39374d;
		width: call(get-function($function), 190px);
	}
	.date-text-box {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 13px);
		line-height: call(get-function($function), 25px);
		display: flex;
		align-items: center;
		color: #9a9a9a;
	}
	.type-tag {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.tag-item {
		height: call(get-function($function), 26.81px);
		background: #f7f4fb;
		border-radius: 100px;
		padding: call(get-function($function), 0px) call(get-function($function), 10px) call(get-function($function), 0px)
			call(get-function($function), 10px);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: call(get-function($function), 15px);

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 13px);
		line-height: call(get-function($function), 38px);
		letter-spacing: 0.16px;
		color: #39374d;
	}

	.tag-active {
		background: #01d663;
		color: #ffffff;
	}

	.banner-search {
		width: call(get-function($function), 300.32px);
		height: call(get-function($function), 547.01px);
	}

	.banner-search img {
		width: 100%;
	}

	.pagination-block {
		display: flex;
		justify-content: center;
		margin-top: call(get-function($function), 20px);
		margin-bottom: call(get-function($function), 70px);
	}
	.item-pagionation {
		width: call(get-function($function), 320px);
	}

	.item-pagionation ul {
		display: flex;
		justify-content: space-between;
	}

	.item-pagionation ul li {
		width: 45px;
		height: 45px;
		background: #f7f4fb;

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #39374d;
		border-radius: 50%;
	}

	.active-pag {
		color: #ffffff !important;
		background: #04d367 !important;
		box-shadow: 0px 10px 40px rgba(110, 123, 131, 0.2) !important;
	}

	.banner-join-investor {
		background-image: url(/image/invest-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 417px);
	}
	.wrapper-banner-join-investor {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: call(get-function($function), 417px);
	}
	.title-banner-join-investor {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		color: #ffffff;
		margin-bottom: call(get-function($function), 18px);
	}
	.desc-banner-join-investor {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 32px);
		line-height: call(get-function($function), 48px);
		color: #fefefe;
		width: call(get-function($function), 692.75px);
		text-align: center;
		margin-bottom: call(get-function($function), 32px);
	}
	.btn-banner-join {
		width: call(get-function($function), 180.61px);
		height: call(get-function($function), 55px);
		background: #00d664;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-banner-join button {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		letter-spacing: 0.16px;
		color: #fefefe;
		background: transparent;
	}
}
