@mixin frilans($function) {
	.column-frilans {
		width: call(get-function($function), 373px);
		height: call(get-function($function), 404px);
		background: #FFFFFF;
		box-shadow: 0px 5px 90px rgba(110, 123, 131, 0.1);
		padding: call(get-function($function), 28px) call(get-function($function), 30px) call(get-function($function), 0px) call(get-function($function), 30px);
		cursor: pointer;
		border-radius: 25px;
		margin-bottom: call(get-function($function), 40px);
	}

	
	.person-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: call(get-function($function), 31px);
	}
	.pict-person {
		width: call(get-function($function), 125px);
	   height: call(get-function($function), 103px);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: call(get-function($function), 20px);
	}
	.pict-person img{
		width: 100%;
	}
	.name-person {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		text-transform: uppercase;
		color: #39374D;
	}
	.description-person {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 12px);
	}
	.skills-person {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 30px);
		letter-spacing: 0.16px;
		color: #898A8C;
		margin-bottom: call(get-function($function), 17px);
	}
	.price-person {
		display: flex;
		justify-content: space-between;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 30px);
		letter-spacing: 0.16px;
		color: #01D663;
		margin-bottom: call(get-function($function), 34px);
	}
	.arrow-person {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.arrow-person img{
		display: none;
	}

	.column-frilans:hover {
		border-bottom: 8px solid #0575E6;
		transition: all 0.3s ease 0s;
	}

	.column-frilans:hover > .price-person .arrow-person img{
		display: block;
		transition: all 0.3s ease 0s;
	}

	.main-pict-card-item {
		width: call(get-function($function), 770px);
		height: call(get-function($function), 499px);
		margin-bottom: call(get-function($function), 50px);
	}

	.main-pict-card-item img{
		width: 100%;
	}
	.title-card-item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 32px);
		line-height: call(get-function($function), 42px);
		letter-spacing: 0.3px;
		color: #39374D;
		margin-bottom: call(get-function($function), 40px);
	}
	.description-card-item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 30px);
	}
	.subtitle-ul-item-block {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 25px);
		letter-spacing: 0.3px;
		color: #39374D;
		margin-bottom: call(get-function($function), 27px);
		margin-top: call(get-function($function), 10px);
	}

	.card-pos{
		height: max-content;
	}
	
	.card-ol-item li{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 10px);
	}

	.blue-block-attention {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #E7F3FF;
		border-radius: 5px;
		width: 100%;
		height: call(get-function($function), 152px);
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		color: #5E5D6C;
		padding: call(get-function($function), 0px)call(get-function($function), 40px) call(get-function($function), 0px) call(get-function($function), 40px);
		margin-top: call(get-function($function), 50px);
		margin-bottom: call(get-function($function), 50px);
	}

	.statistic-block {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		margin-bottom: call(get-function($function), 40px);
	}
	.date-publick {
		width: call(get-function($function), 270px);
		height: call(get-function($function), 30px);
		background: #01D663;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		color: #FFFFFF;
	}
	.social-publick {
	}
	
	.next-news {
		display: flex;
		align-items: center;
		margin-bottom: call(get-function($function), 71px);
	}
	.data-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		color: #5E5D6C;
		margin-right: call(get-function($function), 15px);
	}
	.data-arrow {
		width: call(get-function($function), 45px);
		height: call(get-function($function), 45px);
		background: #F7F4FB;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}

	.mg-right{
		margin: 0px;
		margin-right: call(get-function($function), 30px);
		border: none;
	}

	.menu-cabinet {
		width: 20.958333vw;
		height: call(get-function($function), 592px);
	}
	
	.menu-cabinet img{
		width: 100%;
    object-fit: none;
}

.left-dop-block{
	height: max-content;
}

	
}