@mixin mainpage($function) {
	.main-preview {
		background-image: url(/image/BG.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
	}

	.text-preview {
		margin-top: call(get-function($function), 110px);
	}
	.title-frilans {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 60px);
		line-height: call(get-function($function), 90px);
		display: flex;
		align-items: center;
		color: #FFFFFF;

	}
	.item-frilans {
		margin-top: call(get-function($function), 37px);
	}

	.item-frilans ul li {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 36px);
		display: flex;
		align-items: center;
		letter-spacing: 0.160137px;
		color: #FFFFFF;
		position: relative;
		padding-left: call(get-function($function), 20px);
	}

	.item-frilans ul li::before {
		content: '';
		position: absolute;
		left: 0;
		background-image: url(/image/icon/+.png);
		background-repeat: no-repeat;
		width: call(get-function($function), 9px);
		height: call(get-function($function), 9px);
	}

	.btn-group-frilans {
		display: flex;
		margin-top: call(get-function($function), 50px);
	}
	.investor {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		letter-spacing: 0.16px;
		color: #FEFEFE;

		width: call(get-function($function), 197px);
		height: call(get-function($function), 52px);
		background: #00D664;
		border-radius: call(get-function($function), 5px);
		margin-right: call(get-function($function), 24px);
	}
	.employer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		letter-spacing: 0.16px;
		color: #0575E6;

		width: call(get-function($function), 236.91px);
		height: call(get-function($function), 51.89px);
		background: #FFFFFF;
		border-radius: call(get-function($function), 5px);
	}

	.scroll {
		position: absolute;
		bottom: 0;
	}

	.fresh-news {
		position: relative;
		margin-bottom: call(get-function($function), 96px);
	}
	.wrapper-fresh-news {
		display: flex;
		justify-content: space-between;
		margin-top: call(get-function($function), 93px);
	}
	.text-news {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: call(get-function($function), 477px);
		// align-items: center;
	}
	.description-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 25px);
		display: flex;
		align-items: center;
		letter-spacing: 0.35px;
		text-transform: uppercase;
		color: #25B3F3;
		margin-bottom: call(get-function($function), 5px);
	}
	.title-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		line-height: call(get-function($function), 63px);
		display: flex;
		align-items: flex-end;
		color: #39374D;
		margin-bottom: call(get-function($function), 15px);
	}
	.subtitle-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 28px);
		display: flex;
		align-items: center;
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 35px);

	}
	.btn-news {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: call(get-function($function), 200px);
		height: call(get-function($function), 52px);
		background: #0575E6;
	}

	.btn-news button {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		letter-spacing: 0.16px;
		color: #FFFFFF;
		background: transparent;
	}
	.pictures-news {
		position: relative;
	}
	.first-news-image {
		position: absolute;
		width: call(get-function($function), 338px);
		height: call(get-function($function), 403px);
		top: 25px;
   	left: -110px;
	}
	.second-news-image {
		width: call(get-function($function), 438px);
		height: call(get-function($function), 453px);
	}

	.first-news-image img {
		width: 100%;
		
	}

	.second-news-image img {
		width: 100%;
		
	}

	.swiper-button-prev::after {
		content: '';
	}
	
	.swiper-button-next::after {
		content: '';
	}
	.btn-news-prev {
		width: call(get-function($function), 62px);
		height: call(get-function($function), 63px);
		background: #FFFFFF;
		box-shadow: 0px 10px 40px rgba(110, 123, 131, 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.btn-news-next {
		width: call(get-function($function), 63px);
		height: call(get-function($function), 63px);
		background: #0575E6;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.rating-news {
		background-image: url(/image/network.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: call(get-function($function), 333px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wrapper-column-news {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.column-news {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.icon-column-news {
		margin-bottom: call(get-function($function), 17px);
		height: call(get-function($function), 42px);
		
	}
	.number-column-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		line-height: call(get-function($function), 63px);
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 23px;
	}
	.title-column-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 20px);
		line-height: call(get-function($function), 27px);
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 14px;
	}
	.subtitle-column-news {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		display: flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
	}

	.investments {
		margin-top: call(get-function($function), 99px);
		margin-bottom: call(get-function($function), 79px);
	}
	.investments-pucturs {
		position: relative;
	}
	.first-investments-pict {
		width: call(get-function($function), 470px);
		height: call(get-function($function), 450px);
	}

	.first-investments-pict img{
		width: 100%;
	}
	.second-investments-pict {
		position: absolute;
		top: call(get-function($function), 25px);
		left: call(get-function($function), 190px);
		width: call(get-function($function), 370px);
		height: call(get-function($function), 400px);
	}

	.second-investments-pict img{
		width: 100%;
	}

	.investments-text {
		width: call(get-function($function), 494px);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.investments-column {
		display: flex;
		margin-bottom: call(get-function($function), 42px);
	}

	.investments-column:nth-child(3) {
		margin-bottom: call(get-function($function), 0px);
	}
	.prev-icon {
		margin-right: call(get-function($function), 22px);

	}
	.prev-text-column {
	}
	.title-column-investments {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 22px);
		line-height: call(get-function($function), 27px);
		color: #39374D;
		margin-bottom: call(get-function($function), 12px);
	}
	.descripton-column-investments {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 28px);
		color: #5E5D6C;
	}

	// .descripton-column-investments:nth-child(3) {
	// 	margin-bottom: call(get-function($function), 0px);
	// }
	.wrapper-investments {
		display: flex;
		justify-content: space-between;
	}
	
	.employer-block {
		position: relative;
	}

	.employer-block::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: call(get-function($function), 544px);
		background: #F5FBFC;
		z-index: -1;
	}
	.wrapper-employer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: call(get-function($function), 88px);
	}
	.title-employer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		line-height: call(get-function($function), 63px);
		text-align: center;
		color: #39374D;
		margin-bottom: call(get-function($function), 22px);
	}
	.description-employer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 28px);
		text-align: center;
		color: #5E5D6C;
		width: call(get-function($function), 787px);
		margin-bottom: call(get-function($function), 72px);
	}

	.wrapper-employer-column {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: call(get-function($function), 72px);
	}
	.employer-column {
		width: call(get-function($function), 372px);
		height: auto;
		background: #FFFFFF;
		border: 1px solid #E7E7E7;
		box-sizing: border-box;
		box-shadow: 0px 5px 50px rgba(110, 123, 131, 0.05);
		padding: call(get-function($function), 50px) call(get-function($function), 34px)  call(get-function($function), 100px) call(get-function($function), 34px);
		border-radius: 6%;
		cursor: pointer;
	}

	

	.icon-item-column-employer {
		width: call(get-function($function), 63px);
		height: call(get-function($function), 63px);
		margin-bottom: call(get-function($function), 16px);
	}

	.icon-item-column-employer img{
		width: 100%;
	}
	.title-item-column-employer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 22px);
		line-height: call(get-function($function), 27px);
		color: #39374D;
		margin-bottom: call(get-function($function), 12px);
	}
	.description-item-column-employer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		color: #748494;
		margin-bottom: call(get-function($function), 8px);
	}

	.arrow-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	.arrow-wrapper img{
		display: none;
	}
	

	.btn-employer-group {
		width: call(get-function($function), 263px);
		height: call(get-function($function), 53px);
		background: rgba(0, 0, 0, 0.0001);
		border: 1px solid #CACACA;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}

	.btn-employer-group button{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		text-align: center;
		letter-spacing: 0.16px;
		color: #0575E6;
		background: transparent;
	}
	

	.employer-column:hover {
		transform: scale(1.05);
		border: none;
		border-bottom: 8px solid #0575E6;
		
	}

	.employer-column:hover > .arrow-wrapper img { 
		display: block;
	}

	.investor-startup {
		margin-top: call(get-function($function), 66.5px);
		margin-bottom: call(get-function($function), 139px);
	}
	.special-container {
		margin-left: call(get-function($function), 129.047px);
	}
	.wrapper-investor-startup {
	}
	.description-investor-startup {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 25px);
		letter-spacing: 0.35px;
		text-transform: uppercase;
		color: #25B3F3;
		margin-bottom: call(get-function($function), 6.5px);
	}
	.title-investor-startup {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		line-height: call(get-function($function), 63px);
		display: flex;
		align-items: flex-end;
		color: #39374D;
		width: call(get-function($function), 604px);
	}

	.wrapper-slider-startup {
		margin-top: call(get-function($function), 57px);
		// display :flex;
		// justify-content: space-between;
	}
	.startup-column {
		width: call(get-function($function), 330px);
		height: auto;
		background: #FFFFFF;
		box-shadow: 0px 5px 90px rgba(110, 123, 131, 0.1);
		padding: call(get-function($function), 35px) call(get-function($function), 30px) call(get-function($function), 40px) call(get-function($function), 30px);
		border-radius: 6%;
		margin-left: call(get-function($function), 30px);
	}
	.item-startup-prof {
		display: flex;
		margin-bottom: call(get-function($function), 31px);
	}
	.item-icon-startup {
		margin-right: call(get-function($function), 15px);
		width: call(get-function($function), 103px);
		height: call(get-function($function), 103px);
	}
	.item-name-sartup {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 25px);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #39374D;
		justify-content: flex-end;

	}
	.description-startup-prof {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 26px);
		display: flex;
		align-items: center;
		color: #5E5D6C;
		margin-bottom: call(get-function($function), 49px);
	}
	
	.startup-column:hover {
		transform: scale(1.05);
		border: none;
		border-bottom: 8px solid #0575E6;
		
	}

	.arrow-wrapper-investor {
		display: flex;
		justify-content: flex-end;
	}

	.arrow-wrapper-investor img{
		display: none;
	}

	.startup-column:hover > .arrow-wrapper-investor img { 
		display: block;
	}
	
	
	.slider-str:nth-child(4n+1)  {
		margin-top: call(get-function($function), 97px);
	}

	.slider-str:nth-child(even)  {
		margin-top: call(get-function($function), 127px);
	}

	.slider-str:nth-child(2n+1)  {
		margin-top: call(get-function($function), 57px);
	}

	.swiper-slide-active + * + * + * {
      opacity: 0.5;
	}

	.swiper-button-prev {
	}

	.swiper-button-next {
	}

	.btn-investor-prev {
		width: call(get-function($function), 63px);
		height: call(get-function($function), 63px);
		background: #0575E6;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.btn-investor-next {
		width: call(get-function($function), 62px);
		height: call(get-function($function), 63px);
		background: #FFFFFF;
		box-shadow: 0px 10px 40px rgba(110, 123, 131, 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}	

	.wrapper-for-design {
		display: flex;
	}
	.investor-startup-block-desc {
		margin-right: call(get-function($function), 430px);
	}
	.investor-startup-block-arrow-slide {
		position: relative;
	}

	.business {
		margin-bottom: call(get-function($function), 98px);
	}

	.wrapper-business {
		display: flex;
		justify-content: space-between;
	}
	.score-block {
	}
	.title-score-block {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 32px);
		line-height: call(get-function($function), 39px);
		color: #39374D;
	}
	.pictures-business-block {
		position: relative;
		height: call(get-function($function), 450px);
		align-items: center;
		display: flex;
	}
	.first-business-images {
		position: absolute;
		width: call(get-function($function), 335px);
		height: call(get-function($function), 450px);
		z-index: -1;
		left: -130px;
	}
	.second-business-images {
		width: call(get-function($function), 490px);
		height: call(get-function($function), 400px);
	}

	.first-business-images img{
		width: 100%;
	}
	.second-business-images img{
		width: 100%;
	}

	.slide-investor-startup{
		padding-bottom: 25px;
	}

	.question {
	}
	.question-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.question-image {
		width: 50%
	}

	.question-image img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.question-text {
		background: #F5FBFC;
		width: 50%
	}

	.wrapper-text-question {
		display: flex;
    flex-direction: column;
    align-items: center;
	}
	.title-question-answer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 32px);
		line-height: call(get-function($function), 39px);
		margin-top: call(get-function($function), 64px);
		margin-bottom: call(get-function($function), 39px);
		width: call(get-function($function), 673px);
		color: #39374D;
	}
	.items-block-question {
	}
	.item-question {
	 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	.name-question {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 22px);
		color: #39374D;
		width: call(get-function($function), 673px);
		height: call(get-function($function), 63px);
		background: #FFFFFF;
		border: 1px solid #C5E0F8;
		box-sizing: border-box;
		border-radius: 5px;
		display: flex;
		align-items: center;
		padding: call(get-function($function), 20px) call(get-function($function), 0px) call(get-function($function), 20px)  call(get-function($function), 30px);
		margin-bottom: call(get-function($function), 18px);
	}

	.name-question span{
		display: flex;
		width: call(get-function($function), 15px);
		height: call(get-function($function), 16px);
		background-image: url(/image/icon/plus-icon.svg);
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: call(get-function($function), 18px);


	}
	.name-answer {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		color: #748494;
		width: call(get-function($function), 622px);
		margin-bottom: call(get-function($function), 25px);
	}

	.hide{
		display: none;
	}

	.action-question{
		background: #0575E6;
		color: #FFFFFF;
	}

	.action-question span{
		width: call(get-function($function), 14px);
		height: call(get-function($function), 6px);
		background-image: url(/image/icon/mius-icon.svg)
	}

	.startup {
	}

	.startup-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: call(get-function($function), 83px);
		padding-bottom: call(get-function($function), 97px);
	}

	.title-startup {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 40px);
		line-height: call(get-function($function), 49px);
		text-align: center;
		color: #39374D;
		margin-bottom: call(get-function($function), 20px);
	}
	.subtitle-startup {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 18px);
		line-height: call(get-function($function), 28px);
		text-align: center;
		color: #5E5D6C;
		width: call(get-function($function), 783px);
		margin-bottom: call(get-function($function), 65px);
	}

	.block-invis{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	.btn-toggle-startup {
		display: flex;
		align-items: center;
		margin-bottom: call(get-function($function), 60px);
	}

	.view-more a{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.16px;
		color: #0575E6;
	}

	.clear-block{
		width: 125px;
	}
	.news-toggle {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		color: #0575E6;
		margin-right: call(get-function($function), 11px);
	}
	.popul-toggle {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		color: #748494;
		margin-left: call(get-function($function), 11px);
	}
	
	.switch {
		position: relative;
		display: inline-block;
		width: call(get-function($function), 49px);
		height: call(get-function($function), 26px);
		// border-radius: 50%;
	 }
	 
	 .switch input {display:none;}
	 
	 .toggle-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: -4px;
		bottom: 0;
		background: #0575E6;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 25px;
	 }
	 
	 .toggle-slider:before {
		position: absolute;
		content: "";
		width: call(get-function($function), 20px);
		height: call(get-function($function), 20px);
		left: call(get-function($function), 4px);
		bottom: call(get-function($function), 3px);
		background: #FFFFFF;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	 }
	 
	 input:checked + .toggle-slider {
		background-color: #2196F3;
	 }
	 
	 
	 input:checked + .toggle-slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	 }


	 .wrapper-startup-column-group {
		 display: flex;
		 justify-content: space-between;
		 width: 100%;
	}
	.startups-column {
		width: call(get-function($function), 372px);
		height: auto;
		background: #FFFFFF;
		box-shadow: 0px 5px 90px rgba(110, 123, 131, 0.1);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		cursor: pointer;
		border-radius: 25px;
		transition: all 0.3s ease 0s;
		margin-bottom: call(get-function($function), 25px);
	}
	.str-item-img {
		width: call(get-function($function), 372px);
		height: call(get-function($function), 243px);
		margin-bottom: call(get-function($function), 15px);
		border-radius: 25px;
	}
	.str-item-img img{
		width: 100%;
		height: 100%;
		object-fit: none;
		border-radius: 25px;
	}
	.str-item-date {
		width: call(get-function($function), 103px);
		height: call(get-function($function), 29px);
		border-radius: call(get-function($function), 25px);
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 12px);
		line-height: call(get-function($function), 25px);
		text-align: center;
		letter-spacing: 0.3px;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #0575E6;
		position: absolute;
		top: call(get-function($function), 20px);
		left: call(get-function($function), 20px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.str-item-price {

	}
	.str-item-price span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: call(get-function($function), 20px);
		line-height: call(get-function($function), 45px);
		color: #28C23E;
	}
	.str-item-price span:nth-child(1){
		margin-right: call(get-function($function), 15px);
	}
	.str-item-text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 25px);
		text-align: center;
		color: #748494;
		width: call(get-function($function), 279px);
		margin-bottom: call(get-function($function), 20.5px);
	}
	.str-ite-btn {
		width: call(get-function($function), 155px);
	   height: call(get-function($function), 55px);
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.0001);
		border: 2px solid #CACACA;
		box-sizing: border-box;
		border-radius: 10px;
		margin-bottom: call(get-function($function), 15px);
	}

	.str-ite-btn button{
		background: transparent;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.16px;
		color: #0575E6;
	}

	.str-item-desc {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 45px;
		text-align: center;
		color: #C1C1C1;
		margin-bottom: call(get-function($function), 20px);
	}
	
	.startups-column:hover {
		transform: scale(1.02);
		border: none;
		border-bottom: 8px solid #0575E6;
	}
	
	.startups-column:hover > .str-item-date {
		background: #FFFFFF;
		color: #0575E6;
	}

	.startups-column:hover > .str-item-img {
		background: rgb(14 61 107 / 83%);
		transition: all 0.3s ease 0s;
	}
	.startups-column:hover > .str-item-img img{
		opacity: 0.4;
		transition: all 0.3s ease 0s;
	}
	
	.startups-column:hover > .str-ite-btn {
		background: #0575E6;
		border: none;
		color: #FFFFFF;
	}

	.startups-column:hover > .str-ite-btn button{
		color: #FFFFFF;
	}
	
	.banner-investor {
		width: 100%;
		height: call(get-function($function), 352px);
		background-image: url(/image/banner-investition.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
   	align-items: center;
	}
	.banner-investor-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner-title-investor {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		// line-height: call(get-function($function), 63px);
		text-align: center;
		color: #FFFFFF;
		margin-bottom: call(get-function($function), 30px);
	}
	.banner-title-investor span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 52px);
		// line-height: call(get-function($function), 63px);
		text-align: center;
		color: #00D664;
	}
	.banner-subtitle-investor {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: 26px;
		text-align: center;
		color: #FFFFFF;
		width: call(get-function($function), 784px);
		margin-bottom: call(get-function($function), 36px);
	}
	.banner-btn-investor {
		width: call(get-function($function), 155px);
		height: call(get-function($function), 55px);
		background: #00D664;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}

	.banner-btn-investor button{
		background: transparent;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 20px);
		text-align: center;
		letter-spacing: 0.16px;
		color: #FEFEFE;
		
	}

	.about-us {
	}
	.about-us-wrapper {
		padding-top: call(get-function($function), 86px);
	}
	.title-about-us {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 40px);
		line-height: call(get-function($function), 49px);
		color: #39374D;
		margin-bottom: call(get-function($function), 59px);
	}
	.wrapper-slider-about-us {
		// display: flex;
		// justify-content: space-between;
		margin-bottom: call(get-function($function), 148px);
	}
	.column-about-us-main {
		background-image: url(/image/pictur/talk-about.png);
		background-repeat: no-repeat;
		width: call(get-function($function), 332px);
		height: call(get-function($function), 343px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		background-size: contain;
	}
	.title-column-about-main {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 22px);
		line-height: call(get-function($function), 27px);
		color: #FFFFFF;
		display: flex;
		justify-content: center;
		// text-align: center;	
		padding-left: 37px;
		margin-bottom: call(get-function($function), 15px);
	}
	.subtitle-column-about-main {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 16px);
		line-height: call(get-function($function), 26px);
		color: #FFFFFF;
		display: flex;
		justify-content: center;
		// text-align: center;
		padding-left: call(get-function($function), 37px);
		border-radius: 25px;
		margin-bottom: call(get-function($function), 34px);
	}

	.column-about-us {
		width: call(get-function($function), 332px);
		height: call(get-function($function), 343px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		background: #FFFFFF;
		border: 1px solid #E7E7E7;
		box-sizing: border-box;
		border-radius: 25px;
		padding-left: call(get-function($function), 27px);
		padding-right: call(get-function($function), 17px);

	}
	.text-area-about {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 24px;
		color: #39374D;
		margin-bottom: call(get-function($function), 28px);
	}
	.present-block-about {
		display: flex;
		margin-bottom: call(get-function($function), 20px);
	}
	.picture-about-item {
		margin-right: call(get-function($function), 13px);
	}
	.text-about-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.text-about-item p:nth-child(1) {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.35px;
		text-transform: uppercase;
		color: #39374D;
		margin-bottom: call(get-function($function), 3px);
	}
	.text-about-item p:nth-child(2) {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		color: #748494;
	}

	.about-us-arrow-slide {
		display: flex;
		justify-content: flex-end;
		padding-right: 36px;
  
	}
	.social-block {
		background-image: url(/image/social-bg.png);
		background-repeat: no-repeat;
		width: 100%;
		height: call(get-function($function), 450px);
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		background-size: cover;
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
	}
	.social-block-wrapper {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
	}
	.text-social {
		width: call(get-function($function), 392px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}
	.title-social {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 40px);
		line-height: call(get-function($function), 49px);
		color: #FFFFFF;
		margin-bottom: call(get-function($function), 33.5px);
	}
	.description-social {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: call(get-function($function), 14px);
		line-height: call(get-function($function), 23px);
		color: #FFFFFF;
		margin-bottom: call(get-function($function), 49.5px);
	}
	.social-icon {
		display: flex;
		justify-content: space-between;
		width: call(get-function($function), 182px);
	}
	.facebook {
		width: call(get-function($function), 52px);
		height: call(get-function($function), 53px);
		border-radius: 50%;
		background: #0575E6;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.twitter {
		width: call(get-function($function), 52px);
		height: call(get-function($function), 53px);
		border-radius: 50%;
		border: 1px solid #C4C4C4;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.instagram {
		width: call(get-function($function), 52px);
		height: call(get-function($function), 53px);
		border-radius: 50%;
		border: 1px solid #C4C4C4;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.form-social {
		width: call(get-function($function), 472px);
		height: call(get-function($function), 380px);
		background: #FFFFFF;
		box-shadow: 0px 20px 40px rgba(3, 15, 39, 0.1);
		border-radius: 25px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.wrapper-form-soc {
	}
	.title-form {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		color: #39374D;
		margin-top: call(get-function($function), 69px);
		margin-bottom: call(get-function($function), 16px);

	}
	.subtitle-form {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: #748494;
		text-align: center;
		margin-bottom: call(get-function($function), 27px);
	}
	.btn-group-form-social {
		display: flex;
		justify-content: space-between;
		width: 100%;
		display: flex;
    	justify-content: center;
	}

	.inp-social {
		width: 373px;
		height: 55px;
		background: #F5F5F5;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.349674px;
		color: #748494;
		margin-bottom: call(get-function($function), 33.7px);
		padding-left: call(get-function($function), 21px);
	}

	.btn-join-soc {
		width: call(get-function($function), 151.96px);
		height: call(get-function($function), 51.89px);
		background: #0575E6;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.16px;
		color: #FEFEFE;
		margin-right: call(get-function($function), 33px);

	}
	.btn-reg-soc {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		display: flex;
		align-items: center;
		color: #748494;
		background: transparent;
	}
	
	
	
	
	
	

	
}